p:first-child {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
}
p:last-child {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0;
}

@media (max-width: 763px) {
  p:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
  }
  p:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
  }
}
